#banner{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/Transcendence.webp);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    border-radius: 0;
}

.navbar {
    margin-bottom: 0px;
}

.welcome-section{
    background-color: rgba(255, 218, 185, 0.2);
}

.contact-me{
    background-color: black;
    font-weight: lighter;
    font-size: smaller;
}

.fa-heart{
    color: grey;
}

.fa-heart:hover{
    color: red;
}
